.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-row {
  align-items: stretch;

}
.mat-cell {
  display: flex;
  align-items: center;
}

.mat-column-symbol, .mat-column-name {
  max-width: 160px;
}

.mat-cell.mat-column-comment {
  cursor: pointer;
}

.add-comment {
  opacity: 0.4;
}

.mat-card{
    margin: 1em;
    padding: 1em;
}

.card-container {
    padding: 1em;
  }

.mat-expansion-panel{
    margin: 1em;
}
::ng-deep .white-arrow > .mat-expansion-indicator:after {
  color: white;
}
